<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QResturant</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">
    <script src="https://kit.fontawesome.com/d409f513dc.js" crossorigin="anonymous"></script>
</head>
<body>

    {{> header}}
    <main>
        {{> @partial-block}}
    </main>
    {{> footer}}

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js" ></script>
</body>
</html>