{{#> template}}
    <button class="checkout" onclick=checkout() class="btn btn-primary">Revelar Resumen</button>
    <div class="container">
        
    </div>

    <button class="completeOrder" onclick=sendOrder() class="btn btn-primary">Enviar Pedido</button>
{{/template}}