{{#> template}}
<div class="index">
    <aside class="texto">
        <p>QRestaurant es una aplicacion que te permite desplegar la carta de un restaurant y pedir directamente
        a tu mesa, sin necesidad de estar esperando a que te atiendan.<br><br> Solo escanea el QR impreso en tu mesa,
        selecciona lo que vas a ordenar y un empleado del restaurant te traera lo que pediste. Y cuando necesites pagar
        tu cuenta, solo presiona el boton <i>Pedir la cuenta</i>. Registrate y obten acceso a QRestaurant!.</p><br><br><br><br>
        <p style="align-items: center">
            <a href="/register" class="btn btn-primary" role="button">Registrate Aqui</a> 
        </p>
    </aside>
</div>
{{/template}}